DJANGO_SECRET_KEY=replace-with-at-least-32-random-characters
DJANGO_INTERNAL_SECRET=replace-with-at-least-32-random-characters
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1,django
MYSQL_DATABASE=credit_card_db
MYSQL_USER=root
MYSQL_PASSWORD=Vivithkumar@7
MYSQL_HOST=localhost
MYSQL_PORT=3306
DJANGO_INTERNAL_URL=http://localhost:8000
FASTAPI_PORT=8001
CORS_ALLOWED_ORIGINS=http://localhost:5173,http://localhost:5174
VITE_DJANGO_URL=http://localhost:8000
VITE_FASTAPI_URL=http://localhost:8001
